<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="c1">
<body >
    <p>new user? please signup</p>
    <button type="button" class="btn btn-primary btn-lg"><a href="http://127.0.0.1:8000/reg/">signup</a></button>
    <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">Primary link</a>
    <p> already create an account please login</p>
    <button type="button" class="btn btn-secondary btn-lg"><a href="http://127.0.0.1:8000/login">login</a></button>
    
</body>
</div>
<style>
    .c1{
        background-color: beige;
        margin-top: 20%;
        padding-left: 40%;
        
    }
</style>
</html>